:root {
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Comfortaa', sans-serif;
  --third-family: 'Inter', sans-serif;

  --actionable-item: #18a0fb;
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-colr: #000000;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f5f5;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);

  font-family: var(--font-family);
  letter-spacing: -0.01em;
  font-size: 18px;
  line-height: 1.67;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* цвет основного текста #0000*/

/* вторичный цвет текста rgba(0, 0, 0, 0.8)*/

/* белый #ffffff*/

/*  акцент background: var(--actionable-item) */

/*  вторичный цвет фона background: #f5f5f5; */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid tomato;
}

/* Logo */

.logo {
  color: var(--title-text-colr);
  font-family: var(--second-family);
  font-size: 28px;
  line-height: 1.14;
  text-decoration: none;
}

.logo:hover {
  color: var(--actionable-item);
}

/* Page header */

.page-header {
  background-color: #cccccc;
}
/* Site nav */

.site-nav {
  display: flex;
}

.site-nav .item {
  background-color: tomato;
  margin-right: 40px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

/* .site-nav li {
  background-color: orange;
  margin-right: 40px;
} */

.site-nav .link {
  color: var(--actionable-item);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-colr);
}

.site-nav .link.current {
  color: var(--title-text-colr);
}

.list {
  list-style: none;
}

/* Section */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.no-pading {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  color: var(--title-text-colr);
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
}

.section-title.centered {
  text-align: center;
}

.section-description {
  font-size: 36px;
  line-height: 1.39;
  margin-top: 0;
  margin-bottom: 80px;
}
/* Hero */

.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 40px;
  color: var(--title-text-colr);

  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;
}
/* Features and Examples*/

.feature-list .title,
.work-list .title {
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--title-text-colr);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.feature-list p,
.work-list p {
  margin-top: 0;
  margin-bottom: 32px;
}

/* Works */

.work-list > .item {
  padding-top: 80px;
  padding-bottom: 80px;
}

.work-list > .item:nth-child(2n) {
  background-color: var(--secondary-bg-color);
}

/* Button */

.button {
  border-radius: 6px;
  min-width: 130px;

  color: var(--title-text-colr);
  background-color: var(--primary-white-color);

  padding: 11px 34px;
  display: inline-block;
  border: 1px solid black;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
}

.button.primary {
  background-color: var(--actionable-item);
  color: var(--primary-white-color);
  border-color: transparent;
}

.button.secondary {
  background-color: var(--primary-white-color);
  color: var(--actionable-item);
  border-color: var(--actionable-item);
}
